.fighters .fighters__container {
  padding-top: 50px;
  padding-bottom: 50px;

  @include vp-767 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.fighters__subtitle {
  @include font(28px, 32px, 500, #a184a5);
  text-align: center;
}

.fighters__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-555 {
    grid-template-columns: 1fr;
  }
}

.fighters__item {
  width: 100%;
  margin-bottom: 20px;
  min-height: 70px;
  background: linear-gradient(90deg, rgba(96, 128, 83, 0.75) 0%, rgba(0, 0, 0, 0) 75%);
  display: flex;
  align-items: center;

  @include vp-767 {
    background: linear-gradient(90deg, rgba(96, 128, 83, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  }
}

.fighters__text {
  @include font(18px, 22px, 500, #ffffff);
  text-transform: uppercase;

  margin: 0;
  padding-left: 20px;

  @include vp-767 {
    @include font(14px, 18px, 400, #ffffff);
  }
}
