.go-front .go-front__container {
  padding: 50px;

  @include vp-767 {
    padding: 30px 10px;
  }
}

.go-front__wrapper-content {
  background-color: #393636;
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  -webkit-box-shadow: -5px -5px 5px -5px rgba(144, 144, 144, 0.6);
  -moz-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: -5px -5px 5px -5px rgba(255, 255, 255, 0.6);

  @include vp-767 {
    width: 100%;
    padding: 10px 5px;
    padding-bottom: 30px;
  }
}

.go-front__text {
  @include font(18px, 32px, 500, #ffffff);
  letter-spacing: 0.03em;
  text-align: center;
  width: 100%;
  margin: 0 auto 50px;

  @include vp-767 {
    @include font(16px, 22px, 500, #ffffff);
    width: 100%;
    letter-spacing: 0.05em;
  }

  &--go {
    width: 80%;
    text-align: center;
    color: #ffffff;
  }
}

.go-front__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.go-front__link-phone {
  @include font(20px, 28px, 500, #ffffff);
  letter-spacing: 0.05em;
  display: block;
  margin-bottom: 15px;

  @include vp-767 {
    @include font(16px, 20px, 500, #ffffff);
    letter-spacing: 0.03em;
  }
}

.go-front__link-phone span {
  @include font(18px, 24px, 500, #ff5454);
}
