.promo .promo__container {
  padding-top: 40px;
}

.promo__preface {
  @include font(18px, 22px, 600, #e8f0c1);
  letter-spacing: 0.04em;
  font-family: "RobotoCondensed", "Arial", sans-serif;

  width: 30%;
  margin: 0 auto;
  text-align: center;

  @include vp-1279 {
    width: 40%;
  }

  @include vp-1023 {
    width: 50%;
  }

  @include vp-767 {
    @include font(14px, 22px, 500, #e8f0c1);
    width: 100%;
  }
}

.promo__title {
  @include font(135px, 145px, 500, #ff1c1c);
  font-family: "Chalkcyrillicfreehand", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;

  margin: 0;

  @include vp-767 {
    @include font(17vw, 122%, 500, #ff1c1c);
  }
}

.promo__logo {
  margin: 0 auto;

  @include vp-767 {
    transition: 0.5s ease-in-out;
    width: 70%;
  }

  @include vp-555 {
    transition: 0.5s ease-in-out;
    width: 100%;
  }
}
